<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>metroicon0.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{84,57}}</string>
                <key>offset</key>
                <string>{-20,6}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{62,59}}</string>
                <key>offset</key>
                <string>{-31,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon10.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,124},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon11.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,96},{44,35}}</string>
                <key>offset</key>
                <string>{-32,11}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon12.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,53},{60,55}}</string>
                <key>offset</key>
                <string>{-29,3}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon13.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{88,29}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{68,51}}</string>
                <key>offset</key>
                <string>{-28,-2}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon15.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,124},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon17.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,255},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon18.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,206},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon19.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,183},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,316},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon21.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,171},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon22.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,124},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon24.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,194},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon25.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,194},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon26.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,377},{58,53}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon27.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,145},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon28.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,122},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon29.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,110},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,432},{42,51}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon30.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,63},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon31.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,63},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon33.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,133},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon35.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,133},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon36.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,133},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon37.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,84},{58,59}}</string>
                <key>offset</key>
                <string>{-29,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon38.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,133},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon39.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,61},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,33},{78,49}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon40.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon41.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,183},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon6.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,432},{42,49}}</string>
                <key>offset</key>
                <string>{-34,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon7.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{66,49}}</string>
                <key>offset</key>
                <string>{-20,6}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon8.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,47},{48,47}}</string>
                <key>offset</key>
                <string>{-34,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>metroicon9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{58,59}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>metroIcons.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:737c352625db89479c07b76ec759aa72$</string>
            <key>textureFileName</key>
            <string>metroIcons.png</string>
        </dict>
    </dict>
</plist>
